.form-container {
  background: #c8e8e9;
  display: flex;
  align-items: center;
  justify-content: center;

}

.container {
  width: 100%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.container .content .right-side {
  width: 75%;
  margin-left: 1rem;
}

.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #1f3e72;
}

.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}

.input-box input,
.input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

.input-box textarea {
  padding-top: 6px;
}

.right-side .button {
  display: inline-block;
  margin-top: 12px;
}

.button input {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #1f3e72;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input:hover {
  background: #1f3e72;
}




