.started-main-container {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.started-container {
    padding: 1.5rem;
    width: 90%;


}

.started-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: #4161df;
    padding: 2rem;
    border-radius: 10px;
    border: 5px solid #5d77d6;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.started-text {
    color: white;
    font-weight: 600;
}

.started-text:hover {
    border-color: aliceblue;
}

.sec-text {
    color: whitesmoke;
}


.address-section {
    width: 100%;
    padding: 1.5rem;
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    color:white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);;
  }


  .address-text-section{
    width: 18rem;
    text-align: center;
  }
  
  
  
  
  .text-heading{
    color:whitesmoke;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }
  
  .address-details{
    margin-top: 0.3rem;
    font-weight: 400;
    color:aliceblue
  }
  

@media screen and (max-width:640px){
  .heading{
    font-size:1.3rem;
  }
  .text-heading{
    font-size: 1.1rem;
  }
  
  
}
 

@media screen and (min-width:768px){
  .heading{
    font-size: 1.6rem;
  }
  .text-heading{
    font-size: 1.4rem;
  }
}